.loginDiv {
  background-color: white;
  position: fixed;
  padding-top: 20px;
  width: 27%;
  min-width: 340px;
  height: 90%;
  min-height: 600px;
  top: 5%;
  align-self: center;
  overflow: hidden;
}

.donutsml {
  width: 100px;
  height: auto;
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginDiv form {
  height: 180px;
  width: 90%;
  margin: 20px;
}

.textBox {
  width: 90%;
  height: 35px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  border-radius: 5px;
}

.loginBtn {
  border: none;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 30px;
  background-color: #f50591;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #fe6d01;
}

.cup {
  position: absolute;
  height: 80%;
  min-height: 480px;
  width: auto;
  bottom: -150px;
  right: -85px;
}

.donut {
  position: absolute;
  height: 35%;
  min-height: 180px;
  width: auto;
  bottom: -100px;
  left: -85px;
}

input {
  border: none;
  box-shadow: 0 2px rgb(0, 0, 0, 0.1);
}
