.summaryComponent {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px;

  border: 5px solid rgb(0, 0, 0, 0.1);
}

.titleDiv {
  text-align: center;
  color: #fe6d01;
}

.processBtnDiv {
  width: 100%;
  height: 50px;
  display: flex;
}

.processBtnDiv button {
  flex: 1 1 auto;
}

.processBtn {
  background-color: #fe6d01;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  margin-top: 3px;
  font-size: 28px;
  font-family: "Caprasimo", serif;
}

.processBtn:hover {
  background-color: #f40290;
}

.cancelBtn {
  background-color: crimson;
  color: white;
  border: none;
  width: 50px;
  height: 100%;
  margin-top: 3px;
  font-size: 28px;
  font-family: "Caprasimo", serif;
}

.cancelBtn:hover {
  background-color: #f40290;
}
